.jumbotron {
	text-align: center;
	margin: 8em auto;
	vertical-align: middle;
	background-color: white;
}

h1 {
	padding-bottom: 50px;
	font-size: 30px;
}

.authLog {
	font-size: 18px;
	padding: 14px 60px;
	border-radius: 50px;
	font-size: 26px;
	margin-top: 50px;
}