.jumbotron {
	text-align: center;
	margin: 25em auto;
	vertical-align: middle;
	background-color: white;
}

h1 {
	padding-bottom: 50px ;
}

.authLog {
	font-size: 20px;
	padding: 18px 80px;
	border-radius: 50px;
	font-size: 33px;
	margin-top: 50px;
}