<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Grumpy Cat</title>
  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
  <link rel="stylesheet" href="Login2.css">
</head>

<body>

  <div class="container center">

  <div class="row">
    <div class="col-xs-12">
      <div class="circle">

        <div id="sun">
        </div>

        <div id="cloud">
        </div>

        <div class="cat">
          <div class="left-eye">
            <div class="pupil">
              <div class="light"></div>
              <div class="eyelid"></div>
            </div>
          </div>

          <div class="right-eye">
            <div class="pupil">
              <div class="light"></div>
              <div class="eyelid"></div>
            </div>
          </div>

          <div class="mouth"></div>
        </div>

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 centered-text">
      <div class="sun-icon"></div>

      <label class="switch">
        <input type="checkbox">
        <div class="slider"></div>
      </label>

      <div class="cloud-icon"></div>
    </div>
  </div>

</div>
  
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>

  <script  src="Login2.js"></script>

</body>

</html>
