<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>CSS - Cat on the Moon</title>
  <link rel="stylesheet" href="Login.css">
</head>

<body>

  <div class="wrapper">
  
  <div class="cat">
    <span class="eyes left"></span>
    <span class="eyes right"></span>
    <span class="mouth"></span>
  </div>
  
  <div class="moon">
    <div class="sphere"></div>
    
  </div>
  
  <div class="cloud-container">
    <div class="cloud"></div>
    <div class="cloud"></div>
    <div class="cloud"></div>
    <div class="cloud"></div>
  </div>
    
</div>
</body>

</html>
