form {
	background-color: lightblue;
	padding: 45px 0;
	text-align: center;
}

input {
	height: 40px;
	width: 350px;
	font-size: 20px;
	text-align: center;
	margin: 0 15px;
	padding: 0 15px;
	border: 2px solid red;
	border-radius: 50px;
	display: inline-block;
}

.submitBtn {
	margin-top: 20px;
	font-size: 16px;
	margin-top: 30px;
	color: #4386f2;
}